<ion-view view-title="{{aboutTitle}}">
    <ion-pane>
    <ion-content on-swipe-up="showMenu()">
        <ion-slide-box>
            <ion-slide>
                <div style="height: 300px; text-align: center;line-height: 300px; color:#FFF; background-color: gold">
                    <img src="images/img2.jpg" alt="" style="max-width: 100%"></div>
            </ion-slide>
            <ion-slide>
                <div style="height: 300px; text-align: center;line-height: 300px; color:#FFF;background-color: #396">
                    <img src="images/img3.jpg" alt="">
                </div>
            </ion-slide>
            <ion-slide>
                <div style="height: 300px;text-align: center;line-height: 300px; color:#FFF;  background-color: #F63">
                    <img src="images/img2.jpg" alt=""></div>
                </div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
    </ion-pane>
</ion-view>