<ion-view title="{{homeTitle}}">
    <ion-content class="padding has-header">
        <!--首页-->
        <ion-list>
            <ion-item class="item-divider">angular+ionic   tab路由练习</ion-item>
            <a href="#/tab/movie" class="button button-energized button-block">跳转到电影页</a>
            <a href="#/tab/music" class="button button-assertive button-block">跳转到音乐页</a>
            <a href="#/tab/about" class="button button-calm button-block">跳转到关于页</a>
        </ion-list>
    </ion-content>
</ion-view>
