<ion-view>
    <ion-content>
        <ion-list class="card">
            <ion-item class="item-avatar">
                <img src="{{musicDetailData.musicImgSrc}}">
                <h2>{{musicDetailData.musicTitle}}</h2>
                <p>{{musicDetailData.musicTime}}</p>
            </ion-item>
            <ion-item class="item-body">
                <img class="full-image" src="{{musicDetailData.musicImgSrc}}">
                <p>
                    {{musicDetailData.musicInfo}}
                </p>
                <p>
                    <a href="#/tab/music" class="button  ion-ios-arrow-left">返回</a>
                </p>
        </ion-list>
    </ion-content>
</ion-view>
